{% extends "base.html" %}

{% block content %}

  <h1>What's CropConnect ?</h1>
  <p>
      CropConnect is a non-profit platform focused on providing meaningful, short-term, volunteer farming experiences in your local area. If you are a farmer in need of help, you can visit our website and post what you need help with. If you are looking for an active and impactful experience, you can enter where your location, and we show you all the farmers from the closest to the furthest. Our goal is to encourage community support and bring neighbourhoods across the globe closer together.
  </p>

  <h1>How to contact CropConnect ?</h1>
  <p>
      You can reach CropConnect at <a href="mailto:hello@cropconnect.world">hello@cropconnect.world</a>.
  </p>

  <h1>How did we come up with the plateform ?</h1>
  <p>
      CropConnect originated from the LauzHack Against Covid19 competition in April 2020. We met and formed our initial team, including <b>Maxime Marchionno</b> 💻🍍 (EPFL), <b>Alix Buu-hoang</b> 🃏🍒 (EPFL), <b>Nicole Shi</b> 🐞🍑 (Carnegie Mellon University, EPFL exchange), and Simon Duchastel 🎮🍎 (University of Washington, EPFL exchange). We were motivated to launch this platform because of the seasonal worker shortage from the coronavirus. <b>Martin Baldinger</b> 💻🍅 (Alumni-ETHZ) and <b>Nicolas Peslerbe 💻🌶 </b> (Alumni-EPFL) have since joined and made instrumental contributions.
  </p>
  <div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/kpMvYjTBYuM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
{% endblock %}
