{% extends "base.html" %}

{% block content %}
    <p> About Us
        CropConnect was founded by a group of EPFL bachelor and masters students. We are a non-profit platform focused on providing meaningful, short-term, volunteer farming experiences in your local area. If you are a farmer in need of help, you can visit our website and post what you need help with. If you are looking for an active and impactful experience, you can enter where your location, and we show you all the farmers within a 20 km radius. Our goal is to encourage community support and bring neighbourhoods across the globe closer together.
    </p>

    <p>Our Journey
        CropConnect originated from the LauzHack Against Covid19 competition in April 2020. We met and formed our initial team, including Maxime Marchionno (EPFL), Alix Buu-hoang (EPFL), Nicole Shi (Carnegie Mellon University, EPFL exchange), and Simon Duchastel (University of Washington, EPFL exchange). We were motivated to launch this platform because of the seasonal worker shortage from the coronavirus. In June 2020, we received a grant from EPFL’s YGrant selection committee to make our vision a reality. Martin Baldinger (Alumni-ETHZ) and Nicolas Peslerbe (Alumni-EPFL) have since joined and made instrumental contributions.
    </p>
{% endblock %}
