{% for farm in farms %}
    <div class="row row-farms farm-list">
        <div class="col-lg-8 d-flex align-items-stretch">
            <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" href="#collapse_{{ farm.id }}" role="button" aria-expanded="false" aria-controls="collapse_{{ farm.id }}">{{ farm.help }}</button>
        </div>
        <div class="col-lg-4 d-flex align-items-stretch">
            <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" href="#collapse_{{ farm.id }}" role="button" aria-expanded="false" aria-controls="collapse_{{ farm.id }}">{{ farm.ZipCity }}</button>
        </div>
    </div>
    <div class="collapse" id="collapse_{{ farm.id }}">
        <div class="row">
            <div class="col-lg-8">
                <div class="card card-body" id="address_{{ farm.id }}">
                    {{ farm.formatted_address }}
                </div>
                <div class="card card-body" id="detail_{{ farm.id }}">
                    {{ farm.details }}
                </div>
                <div class="card card-body" id="contact_{{ farm.id }}">
                    E-Mail: {{ farm.email }}
                    <br>
                    {{ _("Phone") }}: {{ farm.phone }}
                </div>
                <div class="card card-body" id="delete_{{ farm.id }}">
                    <a href="deletion?farmid={{ farm.id }}" class="btn btn-link" role="button">{{ _("I want to delete my listing") }}</a>
                </div>
            </div>
            <div class="col-lg-4">
                 <img src="{{ url_for('display_image', filename=farm.imgname) }}" class="img-fluid img-farm rounded mx-auto d-block" alt="Responsive image">
            </div>
        </div>
    </div>
{% endfor %}



</script>