{% for farm in farms %}
    <div class="row row-farms farm-list">
        <div class="col-lg-4 d-flex align-items-stretch">
            <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" href="#address_{{ farm.id }},#detail_{{ farm.id }},#contact_{{ farm.id }}" role="button" aria-expanded="false" aria-controls="address_{{ farm.id }},detail_{{ farm.id }},contact_{{ farm.id }}">{{ farm.help }}</button>
        </div>
        <div class="col-lg-3 d-flex align-items-stretch">
            <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" href="#address_{{ farm.id }},#detail_{{ farm.id }},#contact_{{ farm.id }}" role="button" aria-expanded="false" aria-controls="address_{{ farm.id }},detail_{{ farm.id }},contact_{{ farm.id }}">{{ farm.ZipCity }}</button>

        </div>
        <div class="col-lg-3 d-flex align-items-stretch">
            <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" href="#address_{{ farm.id }},#detail_{{ farm.id }},#contact_{{ farm.id }}" role="button" aria-expanded="false" aria-controls="address_{{ farm.id }},detail_{{ farm.id }},contact_{{ farm.id }}">Additional Details</button>
        </div>
        <div class="col-lg-2 d-flex align-items-stretch">
            <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" href="#address_{{ farm.id }},#detail_{{ farm.id }},#contact_{{ farm.id }}" role="button" aria-expanded="false" aria-controls="address_{{ farm.id }},detail_{{ farm.id }},contact_{{ farm.id }}">Contact</button>

        </div>
    </div>
    <div class="collapse" id="address_{{ farm.id }}">
        <div class="card card-body" id="address_{{ farm.id }}">
            {{ farm.formatted_address }}
        </div>
    </div>
    <div class="collapse" id="detail_{{ farm.id }}">
        <div class="card card-body" id="detail_{{ farm.id }}">
            {{ farm.details }}
        </div>
    </div>
    <div class="collapse" id="contact_{{ farm.id }}">
        <div class="card card-body" id="contact_{{ farm.id }}">
            E-Mail: {{ farm.email }}
            <br>
            Phone: {{ farm.phone }}
        </div>
    </div>
{% endfor %}

<script>


</script>