{% import 'bootstrap/form.html' as wtf %}

<div class="container">

    <form method="POST"enctype="multipart/form-data">
        {{ farmerform.csrf_token() }}
        {{ wtf.form_errors(farmerform, hiddens="only") }}
        <div class="row row-grid">
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.farmerlocation.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.farmerlocation }}
            </div>
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.help.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.help }}

            </div>
        </div>
        <div class="row row-grid">
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.details.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.details }}
            </div>
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.when.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.when }}
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.exchange.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.exchange }}
            </div>
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.photo.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.photo }}
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.phone.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.phone }}
            </div>
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.email.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg mx-auto d-flex align-items-stretch">
                {{ farmerform.email }}
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-lg-4 mx-auto d-flex align-items-stretch">
                {{ farmerform.farmerSubmit(class="btn btn-primary") }}
            </div>
        </div>
        <div class="row row-grid row-no-margin">
            <div class="col-lg-4 mx-auto d-flex align-items-stretch align-content-center">
                You will need to confirm your email address!
            </div>
        </div>
        <div class="details">
            {{ farmerform.formatted_address }}
            {{ farmerform.lat }}
            {{ farmerform.lng }}
        </div>
    </form>
</div>


<!--
Docs for google places autocomplete address field
-> using the wrapper "geocomplete":
https://ubilabs.github.io/geocomplete/

/!\ autocomplete is added to the field in index.html
-->

<!-- Regex for CH phone number format
^(\+?)(\d{2,4})(\s?)(\-?)((\(0\))?)(\s?)(\d{2})(\s?)(\-?)(\d{3})(\s?)(\-?)(\d{2})(\s?)(\-?)(\d{2})
-->

<script>
    function phonenumber(inputtxt)
    {
        var phoneno = /^\d{10}$/;
        if(inputtxt.value.match(phoneno))
        {
            return true;
        }
        else
        {
            alert("Not a valid Phone Number");
            return false;
        }
    }


</script>

