{% import 'bootstrap/form.html' as wtf %}

<div class="container">
    <form method="POST">
        {{ farmerform.csrf_token() }}
        {{ wtf.form_errors(farmerform, hiddens="only") }}
        <div class="row">
            <div class="col-lg mx-auto">
                {{ farmerform.farmerlocation.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg mx-auto">
                {{ farmerform.farmerlocation }}
            </div>
            <div class="col-lg mx-auto">
                {{ farmerform.help.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg mx-auto">
                {{ farmerform.help }}

            </div>
        </div>
        <div class="row">
            <div class="col-lg mx-auto">
                {{ farmerform.details.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg mx-auto">
                {{ farmerform.details }}
            </div>
            <div class="col-lg mx-auto">
                {{ farmerform.when.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg mx-auto">
                {{ farmerform.when }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg mx-auto">
                {{ farmerform.phone.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg mx-auto">
                {{ farmerform.phone }}
            </div>
            <div class="col-lg mx-auto">
                {{ farmerform.email.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg mx-auto">
                {{ farmerform.email }}
            </div>
        </div>
        <div class="row">
            <div class="mx-auto">
                {{ farmerform.farmerSubmit(class="btn btn-primary") }}
            </div>
        </div>
        <div class="details">
            {{ farmerform.formatted_address }}
            {{ farmerform.lat }}
            {{ farmerform.lng }}
        </div>
    </form>
</div>


<!--
Docs for google places autocomplete address field
-> using the wrapper "geocomplete":
https://ubilabs.github.io/geocomplete/

/!\ autocomplete is added to the field in index.html
-->
