{% import 'bootstrap/form.html' as wtf %}

{% block content %}
<div class="container-fluid">
    <form method="post">
        {{ helperform.csrf_token() }}
        {{ wtf.form_errors(helperform, hiddens="only") }}
        <div class="row">
            <div class="col-lg-4 mx-auto">
                {{ helperform.helperlocation.label(class="btn btn-primary btn-nohov-noclick btn-block") }}
            </div>
            <div class="col-lg-4 mx-auto">
                {{ helperform.helperlocation }}
            </div>
        </div>
    </form>
</div>
{% endblock %}

<!--
Docs for google places autocomplete address field
-> using the wrapper "geocomplete":
https://ubilabs.github.io/geocomplete/

/!\ autocomplete is added to the field in index.html
-->