{% extends 'base.html' %}

{% block content %}
    <p>Hello CropConnect!</p>

    <!--
    How to show radio buttons as button group:
    https://getbootstrap.com/docs/4.5/components/buttons/#checkbox-and-radio-buttons
    -->
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary">
            <input type="radio" name="role" id="helper" value="helper"> I want to help!
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="role" id="farmer" value="farmer"> I am a farmer!
        </label>
    </div>

    <div id="farmer-fields" style="display:none">
         {% include 'form_farmer.html' %}
    </div>

    <div id="helper-fields" style="display:none">
        {% include 'form_helper.html' %}
    </div>

    <div id="farms"></div>

{% endblock %}

{%  block scripts %}
{{ super() }}

    <!--
    show farmer or helper fields depending on selection,
    show nothing if nothing selected
    -->
    <script>

    $(document).ready(function() {
        $('input').change(function() {
            if ($('input[value="helper"]').is(':checked')) {
                $('#helper-fields').show();
                $('#farmer-fields').hide();
                console.log("user clicked on: I want to help!")
            }
            else if ($('input[value="farmer"]').is(':checked')) {
                $('#farmer-fields').show();
                $('#helper-fields').hide();
                console.log("user clicked on: I am a farmer!")
            }
        });
        $('#helperSubmit').click(function() {
           $.ajax("{{ url_for('farms') }}").done(function (reply) {
              $('#farms').html(reply);
              console.log("user clicked on: the helper form's submit button")
           });
        });
        $("#farmerlocation").geocomplete();
        $("#helperlocation").geocomplete();
    });
    </script>
{% endblock %}

