{% extends 'base.html' %}

{% block content %}
    <!--
    How to show radio buttons as button group:
    https://getbootstrap.com/docs/4.5/components/buttons/#checkbox-and-radio-buttons
    -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="btn-group btn-group-toggle mx-auto" data-toggle="buttons">
                    <label class="btn btn-primary btn-toggle rounded btn-toggle-left-spacing">
                        <input type="radio" name="role" id="helper" value="helper"> I want to help!
                    </label>
                    <label class="btn btn-primary btn-toggle rounded btn-toggle-right-spacing">
                        <input type="radio" name="role" id="farmer" value="farmer"> I am a farmer!
                    </label>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="farmer-fields" style="display:none">
            {% include 'form_farmer.html' %}
        </div>
        <div class="container-fluid" id="helper-fields" style="display:none">
                    {% include 'form_helper.html' %}
        </div>
        <div class="container-fluid" id="farms"></div>
    </div>
{% endblock %}

{%  block scripts %}
{{ super() }}

    <!--
    show farmer or helper fields depending on selection,
    show nothing if nothing selected
    -->
    <script>

    $(document).ready(function() {
        $('input').change(function() {
            if ($('input[value="helper"]').is(':checked')) {
                $('#helper-fields').show();
                $('#farmer-fields').hide();
                $('#farms').hide()
                // console.log("user clicked on: I want to help!")
            }
            else if ($('input[value="farmer"]').is(':checked')) {
                $('#farmer-fields').show();
                $('#helper-fields').hide();
                $('#farms').hide()
                // console.log("user clicked on: I am a farmer!")
            }
        });
        $("#farmerlocation").geocomplete({ details: ".details" })
        $("#helperlocation")
            .geocomplete()
            .bind("geocode:result", function(event, result){
                // console.log(result)
                $.ajax("{{ url_for('farms') }}?lat="+result.geometry.location.lat()+"&lng="+result.geometry.location.lng()).done(function (reply) {
                    $('#farms').html(reply);
                    $('#farms').show()
                    // console.log("helper entered a location")
                });
            });
    });
    </script>
{% endblock %}

