{% extends 'base.html' %}

{% block content %}
    <p>Hello CropConnect!</p>

    <!--
    How to show radio buttons as button group:
    https://getbootstrap.com/docs/4.5/components/buttons/#checkbox-and-radio-buttons
    -->
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary">
            <input type="radio" name="role" id="helper"> I want to help!
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="role" id="farmer"> I am a farmer!
        </label>
    </div>

{% endblock %}